$black: #1E1E26;
$black2: #1A1A21;
$black3: #16161C;
$black4: #1E1E26;
$grey: #2D2D3B;
$white: #F9F9F9;
$gradient: linear-gradient(45deg, rgba(242,151,130,1) 0%, rgba(238,105,171,1) 51%, rgba(203,75,207,1) 100%);