@import '../../styles/root.scss';
@import '../../styles/variaveis.scss';
@import './experienceBar.module.scss';


@media screen and (max-width: 800px) {
  
  div.container {
    color: $white;
    background-color: $grey;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .containerSon {
      // border: 1px solid rgb(9, 255, 0);
      width: 85%;
      height: 85%;
      background-color: $black4;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    div.upper {
      border: 1px solid rgb(0, 174, 255);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 95%;
      height: 20%;

      div.iconAndText {
        border: 1px solid rgb(226, 224, 231);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: 20%;

        img {
          width: 50%;
          height: 50%;
        }

        p {
          font-size: 0.9rem;
        }
      }

    }

  }















}

